body {		
    background-image: linear-gradient(to left,silver,orange);
}

.tag{
     background-color: whitesmoke;
     opacity: 15%;
     padding-top: 735px;
     margin:0 auto;
     text-align: center;

}

.order{
    font-family:monospace;
	opacity: 100%;
	background-color: rgb(236, 222, 20);	
	overflow: hidden;
	margin: 0 auto;
	size: 20px 20px;
}

.order a{
    font-family:monospace;
	float: center;
	background-color: rgb(236, 222, 20);	
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.order	a:hover {
    font-family:monospace;
	background-color: rgb(133, 132, 125);	
	color: rgb(239, 243, 26);
}
.order a:active{
    font-family:monospace;
	background-color: rgb(236, 222, 20);	
	color: rgb(224, 188, 28);
}
.uvod {
	margin: 0 auto;
	text-align: center;
	background-color: rgb(236, 222, 20);		
	opacity: 0.6;
	border: solid 2px black;
}
.font {
    text-align:center;
    font-size: 40px;
    font-family:monospace;
    padding-left: 15px;
    padding-top: 3px;
    text-shadow: 1px 1px gray;
    letter-spacing: 3px;

}

.ikona {
	float: ;
}
.opis {
	padding-left: 15px;
	padding bottom: 10px;
}
.font2 {
	font-size: 20px;
	font-family: Cambria;
	padding-left: 15px;
	padding-top: 3px;;
	letter-spacing: 3px;
} 


.paypal {
    padding-top: 500px;
}

.email {

}



html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(230, 215, 18) 50%, rgba(101, 107, 110, 0.596) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    opacity: 0.80;
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }


  .products{
    padding-top:50px;
    text-align: center;

  }